.solicitacoes-container {
  max-width: 900px;
  margin: 2rem auto;
   background: linear-gradient(135deg, #2d7d32 0%, #a8aca9 50%, #4caf50 100%);
  padding: 1rem;
  border-radius: 10px;

  h2 {
    margin-bottom: 1rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ddd;
      padding: 0.75rem;
      text-align: center;
    }

    th {
      background: #f0f0f0;
    }

    .positivo {
      color: green;
    }

    .negativo {
      color: red;
    }
  }
}