<div class="Sidebar" [class.open]="sidebarOpen">
  <button class="menu-btn" (click)="toggleSidebar()">☰</button>
  <aside class="sidebar">
    <nav>
      <a routerLink="/home" routerLinkActive="active">
        <img class="img" src="assets/Goback.png" alt="Dashboard">
      </a>
      <div class="label">Voltar</div>

      <a routerLink="/gerente" routerLinkActive="active">
        <img class="img" src="assets/BtnDash.png" alt="Dashboard">
      </a>
      <div class="label">Dashboard</div>

      <a routerLink="/gerente/usuarios-gerente" routerLinkActive="active">
        <img class="img" src="assets/Usuarios.png" alt="Usuários">
      </a>
      <div class="label">Usuarios</div>

      <a routerLink="/gerente/cupons" routerLinkActive="active">
        <img class="img" src="assets/Aprovar.png" alt="Filiais">
      </a>
      <div class="label">Aprovar Cupons</div>

      <a routerLink="/gerente/recarga" routerLinkActive="active">
        <img class="img" src="assets/Solicitacoes.png" alt="Filiais">
      </a>
      <div class="label">Aprovar Recarga</div>

      <a (click)="logout()">
        <img class="img" src="assets/Logout.png" alt="Sair">
      </a>
      <div class="label">Sair</div>
    </nav>
  </aside>
    <div class="overlay" *ngIf="sidebarOpen" (click)="toggleSidebar()"></div>
</div>