.container {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #2d7d32 2%, #a8aca9 43.5%, #4caf50 90%);
  margin-left: 110px;
  padding: 1rem;
  min-height: 160vh;

  @media (max-width: 768px) {
    margin-left: 0;
    background: linear-gradient(110deg, #2d7d32 6%, #a8aca9 28%, #4caf50 75%);
  }
 .content {
    margin-top: 0;
    flex-grow: 1;
    animation: fadeIn 0.6s ease-in;

    @media (max-width: 768px) {
      display: none;
    }
  }

  h1 {
    margin-bottom: 1.5rem;
    color: #130458;
  }

  .form-filial {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;


    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      flex: 1;
    }

    button {
      padding: 0.5rem 1rem;
      border: none;
      background: #4caf50;
      color: white;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #45a049;
      }
    }
  }

  .tabela-filiais {
    margin-top: 2rem;
    background-color: #f5fffa;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 0.75rem;
        border: 1px solid #ddd;
        text-align: left;
      }

      th {
        background-color: #e8f5e9;
      }

      button {
        margin-right: 0.5rem;
        padding: 0.3rem 0.6rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:first-child {
          background: #2196f3;
          color: white;
        }

        &:last-child {
          background: #f44336;
          color: white;
        }
      }
    }
  }
}