.container {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #2d7d32 1%, #a8aca9 57%, #4caf50 92%);
  margin-left: 120px;
  display: flex;
  padding: 1rem;
  min-height: 78.6vh;

  @media (max-width: 768px) {
    margin-left: 0;
    background: linear-gradient(110deg, #2d7d32 6%, #a8aca9 28%, #4caf50 75%);
  }

  .content {
    padding: 0.3rem;
    width: 100%;
    animation: fadeIn 0.6s ease-in;

    @media (max-width: 768px) {
      display: none;
    }
  }

  h1 {
    margin-bottom: 1.5rem;
    color: #130458;
  }

  .form-filial {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;


    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      flex: 1;
    }

    button {
      padding: 0.5rem 1rem;
      border: none;
      background: #4caf50;
      color: white;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #45a049;
      }
    }
  }

  .filiais {
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
    width: 100%;

    .tabela-filiais {
      margin-top: 0;
      margin: 0;
      max-height: 800px;
      width: 100%;
      background: #ffffff;
      border-radius: 12px;
      padding: 5px;

      h1 {
        color: #130458;
        font-size: 1.5rem;
        margin-top: 0;
        position: sticky;
        top: 0;
        z-index: 2;
      }

      .list-filiais{
        margin-top: 0;
        overflow-y: auto;
        max-height: 560px;
        width: 100%;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      }

      &:not(:first-child) {
        margin-top: 3rem;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        thead {
          position: sticky;
          top: 0;
          z-index: 2;
        }

        th,
        td {
          padding: 0.75rem;
          border: 1px solid #ddd;
          text-align: left;
        }

        th {
          background: #f1f1f1;
          font-weight: 600;
        }

        tr:nth-child(even) {
          background-color: #f9f9f9;
        }

        tr:hover {
          background-color: #f1f1f1;
        }

        button {
          margin-right: 0.5rem;
          padding: 0.3rem 0.6rem;
          border: none;
          border-radius: 4px;
          cursor: pointer;

          &:first-child {
            background: #2196f3;
            color: white;
          }

          &:last-child {
            background: #f44336;
            color: white;
          }
        }
      }
    }
  }
}