.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e8f5e9;
  color: #1b1b1b;
  min-height: 98vh;
  background: linear-gradient(
  135deg,
  rgb(158, 205, 184) 10%,
  rgb(190, 222, 207) 40%,
  rgb(213, 215, 214) 70%,
  rgb(229, 236, 233) 80%
);
}

.login-container {
  max-height: 400px;
  width: 350px;
  margin: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin: 1rem 0 0.5rem;
    text-align: left;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  button {
    width: 100%;
    padding: 0.75rem;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }

  .error {
    color: red;
    margin-top: 1rem;
  }
}