<app-sidebar-dp></app-sidebar-dp>
<main class="dashboard">
  <div *ngIf="modalAberto" class="modal-backdrop">
    <div class="modal">
      <h3>Editar Valor</h3>
      <input type="number" [(ngModel)]="valorEditado" min="0" step="0.01" />
      <div class="actions">
        <button class="approve" (click)="salvarEdicao()">Salvar</button>
        <button class="reject" (click)="fecharModal()">Cancelar</button>
      </div>
    </div>
  </div>
  <section class="content animate-fade-in">
    <app-header></app-header>
    <div class="Description">
      <h2>Filial</h2>
      <h2>Colaborador</h2>
      <h2>Periodo</h2>
    </div>
    <div class="filters">
      <select type="text" [(ngModel)]="filialId" (ngModelChange)="onFilialChange()" list="listaFiliais">
        <option [ngValue]="undefined" disabled>Selecione a Filial</option>
        <option [ngValue]="null">Todos</option>
        <option *ngFor="let filial of filiais" [ngValue]="filial.id">{{ filial.nome }}</option>
      </select>
      <select type="text" [(ngModel)]="colaboradorId" (ngModelChange)="onColaboradorChange()" list="listaColaboradores">
        <option [ngValue]="undefined" disabled>Selecione o Colaborador</option>
        <option [ngValue]="null">Todos</option>
        <option *ngFor="let colaborador of profiles" [ngValue]="colaborador.id">{{colaborador.name }}</option>
      </select>
      <label>
        <select [(ngModel)]="periodoSelecionado" (ngModelChange)="aplicarFiltros()">
          <option value="" disabled selected>Selecione o Periodo</option>
          <option value="todos">Todos</option>
          <option value="mensal">Mensal</option>
          <option value="trimestral">Trimestral</option>
          <option value="semestral">Semestral</option>
          <option value="anual">Anual</option>
          <option value="personalizado">Personalizado</option>
        </select>
        <div class="periodo" *ngIf="periodoSelecionado === 'personalizado'">
          <input type="date" [(ngModel)]="dataInicio" (change)="aplicarFiltros()">
          <input type="date" [(ngModel)]="dataFim" (change)="aplicarFiltros()">
        </div>
        <div class="periodo" *ngIf="periodoSelecionado === 'mensal'">
          <select [(ngModel)]="mesSelecionado" (change)="aplicarFiltros()">
            <option [ngValue]="undefined" disabled>Selecione o Mes</option>
            <option value="1">Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
          </select>
        </div>
        <div class="periodo" *ngIf="periodoSelecionado === 'trimestral'">
          <select [(ngModel)]="trimestreSelecionado" (change)="aplicarFiltros()">
            <option [ngValue]="undefined" disabled>Selecione o Trimestre</option>
            <option value="1">1º Trimestre (Jan-Mar)</option>
            <option value="2">2º Trimestre (Abr-Jun)</option>
            <option value="3">3º Trimestre (Jul-Set)</option>
            <option value="4">4º Trimestre (Out-Dez)</option>
          </select>
        </div>
        <div class="periodo" for *ngIf="periodoSelecionado === 'semestral'">
          <select [(ngModel)]="semestreSelecionado" (change)="aplicarFiltros()">
            <option [ngValue]="undefined" disabled>Selecione o Semestre</option>
            <option value="1">1º Semestre (Jan-Jun)</option>
            <option value="2">2º Semestre (Jul-Dez)</option>
          </select>
        </div>
      </label>
      <button (click)="exportarExcelSolicitacoes()">Exportar Excel</button>
    </div>
    <div class="tables-recargas">
      <div class="tabela-lancamentos">
        <h2>Recargas Pendentes</h2>
        <div class="list-lancamento">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Filial</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Observações</th>
                <th>Aprovador</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitacao of solicitacoesPendentes">
                <td>{{ solicitacao.id }}</td>
                <td>{{ solicitacao.usuario }}</td>
                <td>{{ solicitacao.filial }}</td>
                <td>{{ solicitacao.data | date:'dd/MM/yyyy' }}</td>
                <td>{{ solicitacao.tipo }}</td>
                <td>{{ solicitacao.valor | currency:'BRL' }}</td>
                <td class="observacoes" (click)="$event.stopPropagation(); toggleTooltip(solicitacao.id)">
                  <span class="obs-preview">{{ solicitacao.observacoes }}</span>
                  <div class="tooltip-observacao" *ngIf="isTooltipOpen(solicitacao.id)"
                    (click)="$event.stopPropagation()">
                    {{ solicitacao.observacoes }}
                  </div>
                </td>
                <td>{{ solicitacao.aprovador }}</td>
                <td class="actions">
                  <button class="approve" (click)="atualizarStatusRH(solicitacao, 'APROVADO')">Aprovar</button>
                  <button class="reject" (click)="atualizarStatusRH(solicitacao, 'REPROVADO')">Reprovar</button>
                  <button class="edit" (click)="abrirModalEditar(solicitacao)">Editar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tabela-lancamentos">
        <h2>Recargas Aprovadas</h2>
        <div class="list-lancamento">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Filial</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Observações</th>
                <th>Aprovador</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitacao of solicitacoesAprovados">
                <td>{{ solicitacao.id }}</td>
                <td>{{ solicitacao.usuario }}</td>
                <td>{{ solicitacao.filial }}</td>
                <td>{{ solicitacao.data | date:'dd/MM/yyyy' }}</td>
                <td>{{ solicitacao.tipo }}</td>
                <td>{{ solicitacao.valor | currency:'BRL' }}</td>
                <td class="observacoes" (click)="$event.stopPropagation(); toggleTooltip(solicitacao.id)">
                  <span class="obs-preview">{{ solicitacao.observacoes }}</span>
                  <div class="tooltip-observacao" *ngIf="isTooltipOpen(solicitacao.id)"
                    (click)="$event.stopPropagation()">
                    {{ solicitacao.observacoes }}
                  </div>
                </td>
                <td>{{ solicitacao.aprovador }}</td>
                <td class="actions">
                  <button class="reject" (click)="reprovarValor(solicitacao, 'REPROVADO')">Reprovar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tabela-lancamentos">
        <h2>Recargas Reprovadas</h2>
        <div class="list-lancamento">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Filial</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Observações</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitacao of solicitacoesReprovados">
                <td>{{ solicitacao.id }}</td>
                <td>{{ solicitacao.usuario }}</td>
                <td>{{ solicitacao.filial }}</td>
                <td>{{ solicitacao.data | date:'dd/MM/yyyy' }}</td>
                <td>{{ solicitacao.tipo }}</td>
                <td>{{ solicitacao.valor | currency:'BRL' }}</td>
                <td class="observacoes" (click)="$event.stopPropagation(); toggleTooltip(solicitacao.id)">
                  <span class="obs-preview">{{ solicitacao.observacoes }}</span>
                  <div class="tooltip-observacao" *ngIf="isTooltipOpen(solicitacao.id)"
                    (click)="$event.stopPropagation()">
                    {{ solicitacao.observacoes }}
                  </div>
                </td>
                <td class="actions">
                  <button class="approve" (click)="atualizarStatusRH(solicitacao, 'APROVADO')">Aprovar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="overlay feedback" *ngIf="estadoMensagem">
      <div class="mensagem-box" [ngClass]="{ 'loading': estadoMensagem === 'loading',
                    'sucesso': estadoMensagem === 'sucesso',
                    'erro': estadoMensagem === 'erro' }">

        <p *ngIf="estadoMensagem === 'loading'">⏳ Atualizando valor...</p>
        <p *ngIf="estadoMensagem === 'sucesso'">✅ {{ mensagem }}</p>
        <p *ngIf="estadoMensagem === 'erro'">❌ {{ mensagem }}</p>
      </div>
    </div>
  </section>
</main>