<app-header></app-header>
<app-sidebar-ciop></app-sidebar-ciop>

<main class="dashboard">
  <section class="content animate-fade-in">

    <div class="Description">
      <h2>Aprovação de Recargas</h2>
    </div>

    <div class="tabela-lancamentos">
      <div class="list-lancamento">
        <h2>Recargas Pendentes</h2>
        <button (click)="exportarParaExcel()">Exportar Excel</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>Filial</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Observações</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitacao of solicitacoesPendentes">
            <td>{{ solicitacao.id }}</td>
            <td>{{ solicitacao.usuario }}</td>
            <td>{{ solicitacao.filial }}</td>
            <td>{{ solicitacao.data | date:'shortDate' }}</td>
            <td>{{ solicitacao.tipo }}</td>
            <td>{{ solicitacao.valor | currency:'BRL' }}</td>
            <td class="observacoes" (click)="$event.stopPropagation(); toggleTooltip(solicitacao.id)">
              <span class="obs-preview">{{ solicitacao.observacoes }}</span>
              <div class="tooltip-observacao"
                  *ngIf="isTooltipOpen(solicitacao.id)"
                  (click)="$event.stopPropagation()">
                {{ solicitacao.observacoes }}
              </div>
            </td>
            <td class="actions">
              <button class="approve" (click)="atualizarStatusCupom(solicitacao, 'APROVADO')">Aprovar</button>
              <button class="reject" (click)="atualizarStatusCupom(solicitacao, 'REPROVADO')">Reprovar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tabela-lancamentos">
      <div class="list-lancamento">
        <h2>Recargas Aprovados</h2>
        <button (click)="exportarParaExcel()">Exportar Excel</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>Filial</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Observações</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitacao of solicitacoesAprovados">
            <td>{{ solicitacao.id }}</td>
            <td>{{ solicitacao.usuario }}</td>
            <td>{{ solicitacao.filial }}</td>
            <td>{{ solicitacao.data | date:'shortDate' }}</td>
            <td>{{ solicitacao.tipo }}</td>
            <td>{{ solicitacao.valor | currency:'BRL' }}</td>
            <td class="observacoes" (click)="$event.stopPropagation(); toggleTooltip(solicitacao.id)">
              <span class="obs-preview">{{ solicitacao.observacoes }}</span>
              <div class="tooltip-observacao"
                  *ngIf="isTooltipOpen(solicitacao.id)"
                  (click)="$event.stopPropagation()">
                {{ solicitacao.observacoes }}
              </div>
            </td>
            <td class="actions">
              <button class="reject" (click)="atualizarStatusCupom(solicitacao, 'REPROVADO')">Reprovar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tabela-lancamentos">
      <div class="list-lancamento">
        <h2>Recargas Reprovados</h2>
        <button (click)="exportarParaExcel()">Exportar Excel</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>Filial</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Observações</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitacao of solicitacoesReprovados">
            <td>{{ solicitacao.id }}</td>
            <td>{{ solicitacao.usuario }}</td>
            <td>{{ solicitacao.filial }}</td>
            <td>{{ solicitacao.data | date:'shortDate' }}</td>
            <td>{{ solicitacao.tipo }}</td>
            <td>{{ solicitacao.valor | currency:'BRL' }}</td>
            <td class="observacoes" (click)="$event.stopPropagation(); toggleTooltip(solicitacao.id)">
              <span class="obs-preview">{{ solicitacao.observacoes }}</span>
              <div class="tooltip-observacao"
                  *ngIf="isTooltipOpen(solicitacao.id)"
                  (click)="$event.stopPropagation()">
                {{ solicitacao.observacoes }}
              </div>
            </td>
            <td class="actions">
              <button class="approve" (click)="atualizarStatusCupom(solicitacao, 'APROVADO')">Reprovar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>
</main>