.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #1b1b1b;
  min-height: 100vh;
  background: linear-gradient(135deg, #2d7d32 2%, #a8aca9 53%, #4caf50 90%);

  .header {
    display: flex;
    flex-direction: row;
    gap: 30rem;

    .Logo {
      width: 600px;
      height: 150px;

      @media (max-width: 768px) {
        width: 70%;
        height: auto;
        margin-bottom: 2rem;
      }

      @media (max-width: 480px) {
        width: 80%;
      }
    }

    .btn-flutuante {
      margin-top: 1rem;
      margin-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 30px;
      right: 30px;
      background: #0b630f;
      border: none;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
        background: #1b5e20;
      }

      .icon-add {
        display: flex;
        width: 60px;
        height: 60px;

        @media (max-width: 768px) {
          width: 30px;
          height: 30px;
        }

        @media (max-width: 480px) {
          width: 30px;
          height: 30px;
        }
      }

      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
        margin-top: 0.1rem;
        margin-left: 0.1rem;
      }

      @media (max-width: 480px) {
         width: 40px;
        height: 40px;
        margin-top: 0.1rem;
        margin-left: 0.1rem;
      }
    }

    @media (max-width: 768px) {
      gap: 1rem;
    }

    @media (max-width: 480px) {
      gap: 1rem;
    }
  }

  .main-content {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .form-container {
      display: flex;
      margin-top: 2rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      max-height: 575px;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      padding: 0;
      padding: 1rem;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      text-align: center;

      @media (max-width: 768px) {
        max-width: 300px;
      }

      @media (max-width: 480px) {
        max-width: 300px;
      }

      h2 {
        text-align: center;
        margin-bottom: 0.5rem;

        @media (max-width: 480px) {
          font-size: 1.3rem;
        }
      }

      label {
        display: block;
        margin-top: 0.5rem;
        text-align: left;
        font-size: 0.95rem;
      }

      input,
      select {
        width: 100%;
        padding: 0.7rem;
        margin-top: 0.25rem;
        font-size: 1rem;
        box-sizing: border-box;
      }

      button {
        font-size: 1.2rem;
        margin-top: 1rem;
        width: 100%;
        padding: 0.5rem;
        background: #1dac48;
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        transition: background 0.3s ease;

        &:hover {
          background: #178d3c;
        }

        @media (max-width: 480px) {
          font-size: 1rem;
          padding: 0.6rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 1.5rem;
  }

  @media (max-width: 480px) {
    padding: 1rem;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
  }

  .loading-box,
  .mensagem-box {
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
  }

  .mensagem-box.sucesso {
    border-left: 5px solid #4caf50;
  }

  .mensagem-box.erro {
    border-left: 5px solid #f44336;
  }

  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background: #4caf50;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
}