<div class="Sidebar">
  <aside class="sidebar">
    <nav>
      <a routerLink="/ciop" routerLinkActive="active">
        <img class="img" src="assets/BtnDash.png" alt="Dashboard">
      </a>
      <div class="label">Dashboard</div>
      <a routerLink="/usuarios" routerLinkActive="active">
        <img class="img" src="assets/Usuarios.png" alt="Usuários">
      </a>
        <div class="label">Usuarios</div>
      <a routerLink="/filiais" routerLinkActive="active">
        <img class="img" src="assets/Filiais.png" alt="Filiais">
      </a>
        <div class="label">Filiais</div>
        <a routerLink="/cupons-ciop" routerLinkActive="active">
        <img class="img" src="assets/Aprovar.png" alt="Cupons-ciop">
      </a>
        <div class="label">Cupons</div>
      <a (click)="logout()">
        <img class="img" src="assets/Logout.png" alt="Sair">
      </a>
        <div class="label">Sair</div>
    </nav>
  </aside>
</div>