.sidebar {
    width: 240px;
    background-color: #ffffff;
    border-right: 1px solid #dcdcdc;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;

    .logo {
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 2rem;
      color: #1b1b1b;
    }

    nav a {
      display: block;
      margin-bottom: 1rem;
      color: #1b1b1b;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #388e3c;
      }
    }}