<div class="Sidebar">
  <aside class="sidebar">
    <nav>
      <a routerLink="/colaborador" routerLinkActive="active">
        <img class="img" src="assets/BtnDash.png" alt="Dashboard">
      </a>
      <div class="label">Dashboard</div>

      <a routerLink="/colaborador/cupons-colaborador" routerLinkActive="active">
        <img class="img" src="assets/Aprovar.png" alt="Filiais">
      </a>
      <div class="label">Cupons</div>

      <a (click)="logout()">
        <img class="img" src="assets/Logout.png" alt="Sair">
      </a>
      <div class="label">Sair</div>
    </nav>
  </aside>
</div>