.container {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #2d7d32 1%, #a8aca9 57%, #4caf50 92%);
  margin-left: 120px;
  margin-top: 0;
  padding: 1rem;
  min-height: 77.8vh;

  @media (max-width: 768px) {
    margin-left: 0;
    background: linear-gradient(110deg, #2d7d32 6%, #a8aca9 28%, #4caf50 75%);
    min-height: 150vh;
  }

  .tabela-usuario {
    margin-top: 0;
    margin: 0;
    margin-right: 1rem;
    max-height: 600px;
    width: 100%;
    background: #ffffff;
    border-radius: 12px;
    padding: 5px;

    h1 {
      color: #130458;
      font-size: 1.5rem;
      margin-top: 0;
      position: sticky;
      top: 0;
      z-index: 2;
    }

    .list-usuarios {
      margin-top: 0;
      overflow-y: auto;
      max-height: 350px;
      width: 100%;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    &:not(:first-child) {
      margin-top: 3rem;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
          position: sticky;
          top: 0;
          z-index: 2;
        }

      th,
      td {
        padding: 0.75rem;
        border: 1px solid #ddd;
        text-align: left;
      }

      th {
        background: #f1f1f1;
        font-weight: 600;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      tr:hover {
        background-color: #f1f1f1;
      }
    }
    @media (max-width: 768px) {
        display: none;
      }
  }
}