<app-header></app-header>
<main class="dashboard">
  <app-sidebar-colaborador></app-sidebar-colaborador>
  <section class="content animate-fade-in">
    <div class="Description">
    <h2>Colaborador</h2>
    </div>
    <div class="filters">
      <input 
        type="text" 
        (ngModelChange)="onColaboradorChange()"
        placeholder="Colaborador..."
        list="listaColaboradores">
        <datalist id="listaColaboradores">
        <option *ngFor="let colaborador of usuario" [value]="colaborador.nome"></option>
        </datalist>
    </div>
    <div class="cards">
      <div class="card total">
        <div class="label">Total Gasto</div>
      <img src="assets/$.png" alt="Logo" class="coin">
        <div class="value">{{ totalGasto | currency:'BRL' }}</div>
      </div>
      <div class="card orcamento">
        <div class="label">Orçamento Previsto</div>
        <img src="assets/$.png" alt="Logo" class="coin">
        <div class="value">{{ totalOrcamento | currency:'BRL' }}</div>
      </div>
      <div class="card deficit">
        <div class="label">Déficit (Prejuízo)</div>
        <img src="assets/$.png" alt="Logo" class="coin">
        <div class="value">{{ totalDeficit | currency:'BRL' }}</div>
      </div>
      <div class="card folha">
        <div class="label">Descontado na Folha</div>
        <img src="assets/$.png" alt="Logo" class="coin">
        <div class="value">{{ totalDescontado | currency:'BRL' }}</div>
      </div>
      <div class="card excedente">
        <div class="label">Excedente Aprovado</div>
        <img src="assets/$.png" alt="Logo" class="coin">
        <div class="value">{{ totalExcedenteAprovado | currency:'BRL' }}</div>
      </div>
    </div>
    <div class="rankings">
      <div class="ranking">
          <div class="Title">
            <img src="assets/Logo.png" alt="Logo" class="Logo">
            <h2>Ranking - Maior Gasto</h2>
          </div>
          <div class="table-container">
              <table>
            <thead>
          <tr>
            <th>Nome</th>
            <th>Filial</th>
            <th>Valor</th>
          </tr>
            </thead>
          <tr *ngFor="let item of rankingGastos">
            <td>{{ item.nome }} </td>
            <td>{{ item.filial }}</td>
            <td>{{ item.total | currency:'BRL' }}</td>
          </tr>
        </table>
          </div>
      </div>

      <div class="ranking">
         <div class="Title">
            <img src="assets/Logo.png" alt="Logo" class="Logo">
            <h2>Ranking - Fora da Política</h2>
          </div>
          <div class="table-container">
              <table>
            <thead>
          <tr>
            <th>Nome</th>
            <th>Filial</th>
            <th>Valor</th>
          </tr>
            </thead>
          <tr *ngFor="let item of rankingExtrapolo">
            <td>{{ item.nome }} </td>
            <td>{{ item.filial }}</td>
            <td>{{ item.diferenca | currency:'BRL' }}</td>
          </tr>
        </table>
          </div>
      </div>
    </div>
<!--
    <div class="tabela-lancamentos">
  <div class="list-lancamento">
    <h2>Lista de Lançamento</h2>
    <button (click)="exportarParaExcel()">Exportar Excel</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuário</th>
        <th>Data</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Imagem</th>
        <th>Status</th>
        <th>Excedente/Deficit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lancamento of cupons">
        <td>{{ lancamento.id }}</td>
        <td>{{ lancamento.usuario }}</td>
        <td>{{ lancamento.data | date:'shortDate' }}</td>
        <td>{{ lancamento.tipo }}</td>
        <td>{{ lancamento.valor | currency:'BRL' }}</td>
        <td>
          <a [href]="lancamento.url_imagem " target="_blank">
            <img [src]="lancamento.imagem " alt="Nota" class="imagem-nota">
          </a>
        </td>
        <td>{{ lancamento.status }}</td>
        <td
          [ngClass]="{
            'verde': lancamento.exceDeficit > 0,
            'vermelho': lancamento.exceDeficit < 0,
            'azul': lancamento.exceDeficit === 0
          }"
        >
          {{ lancamento.exceDeficit | currency:'BRL' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
-->
  </section>
</main>