
<div class="form-container">
  <h2>Lançar Cupom Fiscal</h2>

  <form [formGroup]="cupomForm" (ngSubmit)="enviarCupom()">
    <label>Tipo de Gasto</label>
    <select formControlName="tipo">
      <option value="">Selecione</option>
      <option>Almoço</option>
      <option>Janta</option>
      <option>Hospedagem</option>
      <option>Café da Manhã</option>
    </select>

      <label>Observações</label>
      <input type="text" formControlName="observacoes" />

    <label>Data da Nota</label>
    <input type="date" formControlName="data" />

    <label>Valor</label>
    <input type="number" step="0.01" formControlName="valor" />

    <label>Foto do Cupom</label>
<input type="file" (change)="onFileChange($event)" accept="image/*" />
<img *ngIf="preview" [src]="preview" alt="Preview" width="200" />

    <button type="submit" [disabled]="uploading">Enviar</button>
  </form>
</div>
