<app-sidebar-dp></app-sidebar-dp>
<div class="container">
  <div class="content">
    <app-header></app-header>
    <h1>Gerenciamento de Carteira</h1>
    <form [formGroup]="carteiraForm" (ngSubmit)="enviarSaldo()">
      <div class="form-carteira">
        <div class="form-group">
          <label for="usuario">Selecionar Usuário:</label>
          <select id="usuario" formControlName="usuarioId" required>
            <option value="">Selecione um usuário</option>
            <option *ngFor="let user of users" [value]="user.id">
              {{ user.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Tipo Recarga</label>
          <select formControlName="tipo">
            <option value="" disabled selected>Selecione o Tipo</option>
            <option>Remover Valor</option>
            <option>Recarga Mensal</option>
            <option>Recarga Extra</option>
          </select>
        </div>

        <div class="form-group">
          <label>Observações</label>
          <input type="text" id="observacoes" placeholder="Descrição" formControlName="observacoes">
        </div>

        <div class="form-group">
          <label for="valor">Saldo (R$):</label>
          <input type="number" id="valor" placeholder="R$" formControlName="valor" min="0.01" step="0.01" required>
        </div>
        <div class="form-group">
          <div class="form-actions">
            <button type="submit" [disabled]="uploading">Adicionar</button>
            <button type="button" class="btn-cancel" (click)="cancelarEdicao()">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="usuarios">
      <div class="tabela-usuarios">
        <div class="list-usuarios">
          <table>
            <thead>
              <tr>
                <th>Filial</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Carteira (R$)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.filial?.nome ?? '-'}}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.carteira | number:'1.2-2' }}</td>
              </tr>
              <tr *ngIf="users.length === 0">
                <td colspan="5" class="no-data">Nenhum usuário cadastrado</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay feedback" *ngIf="estadoMensagem">
    <div class="mensagem-box" [ngClass]="{ 'loading': estadoMensagem === 'loading',
                    'sucesso': estadoMensagem === 'sucesso',
                    'erro': estadoMensagem === 'erro' }">

      <p *ngIf="estadoMensagem === 'loading'">⏳ {{ mensagem }}</p>
      <p *ngIf="estadoMensagem === 'sucesso'">✅ {{ mensagem }}</p>
      <p *ngIf="estadoMensagem === 'erro'">❌ {{ mensagem }}</p>
    </div>
  </div>
</div>