<app-header></app-header>
<app-sidebar-ciop></app-sidebar-ciop>
<main class="dashboard">
  <section class="content animate-fade-in">
    <div class="Description">
      <h2>Aprovação de Cupons</h2>
      <button (click)="exportarParaExcel()">Exportar Excel</button>
      <div class="filters">
        <select type="text" [(ngModel)]="filialSelecionada" (ngModelChange)="onFilialChange()" placeholder="Filial..."
          list="listaFiliais">
          <option [ngValue]="null">Todos</option>
          <option *ngFor="let filial of filiais" [value]="filial.id">{{ filial.nome }}</option>
        </select>

        <select type="text" [(ngModel)]="colaboradorSelecionado" (ngModelChange)="onColaboradorChange()"
          placeholder="Colaborador..." list="listaColaboradores">
          <option [ngValue]="null">Todos</option>
          <option *ngFor="let colaborador of profiles" [ngValue]="colaborador.id">{{colaborador.name }}</option>
        </select>
      </div>
    </div>
    <div class="tables-cupons">
      <div class="tabela-lancamentos">
        <h2>Cupons Pendentes</h2>
        <div class="list-lancamento">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Imagem</th>
                <th>Excedente/Deficit</th>
                <th>Observações</th>
                <th>Aprovação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cupom of cuponsPendentes">
                <td>{{ cupom.id }}</td>
                <td>{{ cupom.usuario }}</td>
                <td>{{ cupom.data | date:'shortDate' }}</td>
                <td>{{ cupom.tipo }}</td>
                <td>{{ cupom.valor | currency:'BRL' }}</td>
                <td>
                  <a [href]="cupom.link" target="_blank">
                    <img [src]="cupom.imagem" alt="Nota" class="imagem-nota">
                  </a>
                </td>
                <td [ngClass]="{
                      'verde': cupom.exceDeficit > 0,
                      'vermelho': cupom.exceDeficit < 0,
                      'azul': cupom.exceDeficit === 0
                    }">
                  {{ cupom.diferenca | currency:'BRL' }}
                </td>
                <td class="observacoes" (click)="$event.stopPropagation(); toggleTooltip(cupom.id)">
                  <span class="obs-preview">{{ cupom.observacoes }}</span>

                  <div class="tooltip-observacao" *ngIf="isTooltipOpen(cupom.id)" (click)="$event.stopPropagation()">
                    {{ cupom.observacoes }}
                  </div>
                </td>
                <td>{{ cupom.aprovacao }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tabela-lancamentos">
        <h2>Cupons Aprovados</h2>
        <div class="list-lancamento">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Imagem</th>
                <th>Excedente/Deficit</th>
                <th>Observações</th>
                <th>Aprovação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cupom of cuponsAprovados">
                <td>{{ cupom.id }}</td>
                <td>{{ cupom.usuario }}</td>
                <td>{{ cupom.data | date:'shortDate' }}</td>
                <td>{{ cupom.tipo }}</td>
                <td>{{ cupom.valor | currency:'BRL' }}</td>
                <td>
                  <a [href]="cupom.link " target="_blank">
                    <img [src]="cupom.imagem " alt="Nota" class="imagem-nota">
                  </a>
                </td>
                <td [ngClass]="{
                      'verde': cupom.exceDeficit > 0,
                      'vermelho': cupom.exceDeficit < 0,
                      'azul': cupom.exceDeficit === 0
                    }">
                  {{ cupom.exceDeficit | currency:'BRL' }}
                </td>
                <td class="observacoes" (click)="$event.stopPropagation(); toggleTooltip(cupom.id)">
                  <span class="obs-preview">{{ cupom.observacoes }}</span>

                  <div class="tooltip-observacao" *ngIf="isTooltipOpen(cupom.id)" (click)="$event.stopPropagation()">
                    {{ cupom.observacoes }}
                  </div>
                </td>
                <td>{{ cupom.aprovacao }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tabela-lancamentos">
        <h2>Cupons Reprovados</h2>
        <div class="list-lancamento">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Imagem</th>
                <th>Excedente/Deficit</th>
                <th>Observações</th>
                <th>Aprovação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cupom of cuponsReprovados">
                <td>{{ cupom.id }}</td>
                <td>{{ cupom.usuario }}</td>
                <td>{{ cupom.data | date:'shortDate' }}</td>
                <td>{{ cupom.tipo }}</td>
                <td>{{ cupom.valor | currency:'BRL' }}</td>
                <td>
                  <a [href]="cupom.link " target="_blank">
                    <img [src]="cupom.imagem " alt="Nota" class="imagem-nota">
                  </a>
                </td>
                <td [ngClass]="{
                      'verde': cupom.exceDeficit > 0,
                      'vermelho': cupom.exceDeficit < 0,
                      'azul': cupom.exceDeficit === 0
                    }">
                  {{ cupom.exceDeficit | currency:'BRL' }}
                </td>
                <td class="observacoes" (click)="$event.stopPropagation(); toggleTooltip(cupom.id)">
                  <span class="obs-preview">{{ cupom.observacoes }}</span>

                  <div class="tooltip-observacao" *ngIf="isTooltipOpen(cupom.id)" (click)="$event.stopPropagation()">
                    {{ cupom.observacoes }}
                  </div>
                </td>
                <td>{{ cupom.aprovacao }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>